html{
    font-family: 'Ubuntu', sans-serif;
    font-size: 10px;
    color:#FEFEFE;
    background-color: #1B332C;
}

body{
    width: 1200px;
    margin: 0 auto;
    background-color: #455D58;
    padding: 0 20px 20px 20px;
}

h1{
    font-size: 60px;
    margin:0;
    padding: 20px 0;
    text-align: center;
}

h2{
    font-size: 50px;
    margin: 0;
    padding: 20px 0;
}

h3{
    font-size: 40px;
    font-style: italic;
    margin: 0;
    padding: 20px 0;
}

h4{
    font-size: 30px;
    margin: 0;
    padding: 20px 0;
}

p, li{
    font-size: 20px;
}

.container{
    position: relative;
}

.wallpaper{
    display: block;
    width: 100%;
    height: auto;
}

.overlay{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: black;
}

.container:hover .overlay{
    opacity: 0.75;
}

.title {
    color: #FEFEFE;
    font-size: 60px;
    display: grid;
    place-items: center;
    transform: translateY(50%);
}

.topnav {
    background-color: #1B332C;
    overflow: hidden;
}

.topnav a {
    float: left;
    color: #FEFEFE;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 18px;
}

.topnav a:hover, .dropdown:hover .dropbtn{
    background-color: #E0DECB;
    color:#455D58;
}

.topnav a.active, .topnav .dropdown .active{
    background-color: #E0DECB;
    color:#455D58;
}

.dropdown .dropbtn {
    background-color: inherit;
    color: #FEFEFE;
    padding: 14px 16px;
    font-size: 18px;
    font-family: inherit;
    border: none;
    outline: none;
    margin: 0;
}


.dropdown {
    float: left;
    overflow: hidden;
} 

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #1B332C;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a{
    float: none;
    color:#FEFEFE;
    padding: 14px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #E0DECB;
    color:#1B332C;
}

.dropdown:hover .dropdown-content {display: block;}
